<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
  <%= link_to 'New Comment', new_comment_path(event_id: @event) %>
</p>

<% if member_signed_in? %>
  <%= link_to 'Edit', edit_event_path(@event) %> |
  <%= link_to 'Back', events_path %> |
<% end %>
<%= link_to 'List Comments', comments_path(event_id: @event) %>  

<section id="comments">
  <%= render 'comments/index', comments: @comments, event: @event %>
</section>

<button id="show_comments">Show Comments</button>


